<div class="bg-light">
    <video muted="" autoplay playsinline="" class="mp4" loop=""> 
        <source src="https://cdnvideo.dolimg.com/cdn_assets/fb3bf07f15665efdbd336f6b78bb81a74654685a.mp4" type="video/mp4"> 
    </video>
    <div class="main">
        <h2>Novidades Disney</h2>
        <div class="d-flex justify-content-between">
            <div class="card">
                <img src="https://lumiere-a.akamaihd.net/v1/images/entrevista-thumbnail_f8cf8daf.jpeg?region=0,0,1920,1080&width=600" alt="">
                <span class="p-3">
                    <p>'Tudo igual... SQN': Miá Mello e Gabriela Saraivah Respodem</p>
                </span>
            </div>
            <div class="card">
                <img src="https://lumiere-a.akamaihd.net/v1/images/eu_disneyplus_ms-marvel_c169_r_877b787d.jpeg?region=0,2,1630,916&width=600" alt="" width="601px" height="338px">
                <span class="p-3 cardText">
                    <p class="title">Novidade Marvel</p>
                    <h2>Ms. Marvel: saiba a data de streia, a sinopse e o elenco da nova série da Marvel</h2>
                    <p>26 de maio de 2022</p>
                </span>
            </div>
        </div>
    </div>
</div>