.appFooter {
    padding: 0;
}

.font {
    font-size: 14px;
    font-weight: 700;
}

.p {
    margin: 50px 50px 5px 50px ;
}

.footerNav {
    font-size: 12px;

    li {
        margin: 0 15px;
    }
}

.footText {
    font-size: 12px;
}