<div>
<div class="navbar px-4 appFooter">
    <div class="w-100 p">
            <ul class="navbar-nav d-flex align-items-center justify-content-between flex-row w-100 font">
                <li class="nav-item">
                    <a href="" class="navbar-brand"> 
                        <img src="https://static-mh.content.disney.io/matterhorn/assets/goc/disney_logo_dark@2x-45d70f7dd57b.png" alt="" width="95px" height="40px">
                    </a>
                </li>
                <li class="nav-item">DISNEY+</li>
                <li class="nav-item">SHOP</li>
                <li class="nav-item">NOVIDADES</li>
                <li class="nav-item">FILMES</li>
                <li class="nav-item">DISNEY TICKETS</li>
                <li class="nav-item">FÉRIAS</li>
                <li class="nav-item">TV</li>
                <li class="nav-item">RÁDIO DISNEY</li>
                <li class="nav-item">ANIVERSÁRIO MÁGICO</li>
            </ul>
    </div>
</div>
<div class="py-5 d-flex flex-column align-items-center ">
    <div class="d-flex justify-content-center w-100">
        <img src="https://static-mh.content.disney.io/matterhorn/assets/goc/disney_logo_dark@2x-45d70f7dd57b.png" alt="teste" width="80px" height="36px">
    </div>
    <div class="pt-3 w-100 d-flex justify-content-center">
        <ul class="d-flex flex-row navbar-nav footerNav">
            <li>Políticas de privacidade</li>
            <li>Proteção de Dados no Brasil</li>
            <li>Termos e Condições de uso</li>
            <li>Oportunidades de Trabalho</li>
            <li>Anúncios com base em interesses</li>
        </ul>
    </div>
    <div class="mt-4">
        <p class="footText"> © Disney © Disney•Pixar © & ™ Lucasfilm LTD © 2022 MARVEL. Reservados todos os direitos, </p>
    </div>
</div>
</div>